*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: #f6f6f6; /*整个页面的背景颜色*/
}

header{
    height: 80px;
    background-color: black;
}

.loadPageCenter{
    width: 1190px;
    margin: auto;
}

.nav_header{
    height: 30px; /*没有高度撑开，不会显示*/
    line-height: 30px; /*行高=容器高，可以使字体居中*/
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
    font-size: 12px; /*导航栏中字体大小*/
    color: #999; /*字体颜色*/
}

.fl{
    float: left;
    margin-left: 200px;
}

.fr{
    float: right;
}
/* 这里position值为默认值static，按照正常文档流顺序 */
/* 如果position顺序设置成了absolute，right:50px则页面缩放时会重新排版显示全 */

.fr li{
    float: left;
}


a{
    text-decoration: none;
    color: #999; /*字体颜色*/
}

a:hover{
    color: red;
}

.f10{
    color: red;
}
/* 标红公用 */

.space{ /*间隔的小竖线*/
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin:10px 12px 0;
}

.header{
    width: 1190px;
    position: relative;   
    margin: 0 auto;
    height: 140px;
}
/* 规定宽度后使用margin为auto自动居中 */



.logo {
    position: absolute;
    top: -30px;
    left: 0;
    box-shadow: 0px -10px 10px rgba(0,0,0,.3);
}
/* 由于对header容器使用loadPageCenter进行居中处理 因此这里虽然left:0但居中处理后header的左边界就是logo的左边界 */


.logo a {
    display: block;
    width: 190px;
    height: 170px;
    background: #fff url(../images/logo.png) no-repeat;
}

.searchWrap {
    position: absolute;
    top: 25px;
    left: 320px;
}

.searchWrap>input{
    width: 495px;
    height: 33px;
    border: 3px solid #f10215;
    float: left;
    font-size: 14px;
    padding-left: 3px;
    outline:none;
}

.searchWrap>button{
    width: 45px;
    height: 39px;
    background-color: red;
    border: none;
    color:white;
}

.shopCar{
    height: 39px;
    width: 150px;
    /* border-radius: 13px; */
    background-color: red;
    position: absolute;
    text-align: center;
    top: 25px;
    right: 100px;
    line-height: 39px;  /* line-height是个好东西 控制文字居中显示 */
}

.shopCar>a{
    color: white;
    font-size: 14px;
}

.shopCar span {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;     /* border-radius设为50%为圆形  https://www.cnblogs.com/an2333/p/11520832.html */
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 12px;
    color: red;
    line-height: 15px;
}

.hotwords{
    position: absolute;
    font-size: 14px;
    top: 80px;
    left: 320px;
}

.nav_midbanner{
    height: 40px; /*没有高度撑开，不会显示*/
    width: 770px;
    position: absolute;
    left: 230px;
    top: 115px;
}

.nav_midbanner li{
    float: left;
}

.nav_midbanner li a{
    margin: 13px;
    color: #555;
    font-weight: bold;
    font-size: 16px;
}

.nav_midbanner li a:hover{
    color: red;
}

.clearfix::after {
    content:""; 
    display: block; 
    clear:both; 
}

footer {
    margin-top: 35px;
    height: 500px;
    background-color: #EAEAEA;
}
footer a {
    color: #666;
}
.service {
    padding: 30px 0; 
    border-bottom: 1px solid #DEDEDE;
    overflow: hidden;
}
.service ul li {
    width: 297px;
    height: 43px;
    position: relative;
    line-height: 43px;
    float: left;
}
.service  li h5 {
    position: absolute;
    top: 0;
    left: 38px;
    width: 36px;
    height: 43px;
    background: url(../images/ico.png) no-repeat;
    text-indent: -999em;
}
.service  li:nth-child(2) h5 {
    background-position: 0 -43px;
}
.service  li:nth-child(3) h5 {
    background-position: 0 -86px;
}
.service  li:nth-child(4) h5 {
    background-position: bottom;
}
.service  li p {
    font-weight: 700;
    margin-left: 82px;

}